{
  "log": {
    "loglevel": "debug"
  },
  "inbounds": [
    {
      "listen": "127.0.0.1",
      "port": {{ .RandomPort }},
      "protocol": "socks",

      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"],
        "routeOnly": true
      }
    }
  ],
  "outbounds": [
    {
      "tag": "proxy",
      "protocol": "{{ .Protocol }}",
      "settings": {
        "vnext": [
          {
            "address": "{{ .Server }}",
            "port": {{ .Port }},
            "users": [
              {
                "id": "{{ .UID }}",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "{{ .Type }}",
        "security": "{{ .Security }}",
        "realitySettings": {
          "serverName": "{{ .SNI }}",
          "fingerprint": "{{ .FP }}",
          "publicKey": "{{ .PBK }}"
        },
        "sockopt": {}
      }
    },
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIP"
      },
      "streamSettings": {
        "sockopt": {}
      }
    },
    {
      "tag": "block",
      "protocol": "blackhole",
      "settings": {}
    },
    {
      "tag": "dns-out",
      "protocol": "dns",
      "settings": {
        "port": 53,
        "address": "119.29.29.29",
        "network": "udp"
      },
      "streamSettings": {
        "sockopt": {}
      }
    }
  ],
  "webhook": "{{ .MonitorLink }}"
}